<header>
  <div class="masthead d-flex">
  <div class="container text-center my-auto" style="padding-bottom: 25%; margin-top:-10%;">
    <h1 class="content" style="color:white; padding-top:100px;">How are you feeling?</h1>

    <div class="content">
    <div id="sex" class="row content-inner" style="margin:3rem;">
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">FEELING &nbsp; INDECISIVE</a>
    </div>
    <div class="row content-inner2" style="margin:3rem;">
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">FEELING &nbsp; SPECIAL</a>
    </div>
    </div>
  </div>
  <div class="overlay"></div>
  </div>
</header>
